.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  --border-top: none;
  --adm-color-border: rgba(128, 138, 148, 0.18);
  background: var(--rasagram-theme-bg-color);
  border-radius: 14px;
  overflow: hidden;
  margin-top: 4px;
}
