.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.confirm {
  font-size: 22px;
  color: var(--rasagram-theme-accent-text-color);
}

.card {
  background: var(--rasagram-theme-secondary-bg-color);
  border-radius: 18px;
  box-shadow: var(--rasagram-card-shadow);
  padding: 20px;
}
